[Unit]
Description=MinecraftServer

[Service]
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar /opt/minecraft/server.jar nogui

[Install]
WantedBy=multi-user.target
